@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-60px);
    }
    40% {
      transform: translateX(-40px);
    }
    60% {
      transform: translateX(-20px);

    }
    100% {
      transform: translateX(0px);
      opacity: 0;
    }
  }

.my-node {
  &-enter {
    opacity: 0.01;
    transform: scale(0.9);
  }
  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    animation: slideOut 1.3s ease-in-out;
  }
}
